.Project-list{
    margin: 50px;
    padding: 0px;
    list-style-type: none;
}
.Project-item{
    display: flex;
    padding: 0px 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--c2);
    color: var(--c1);
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 2px 2px 1px var(--c7);
}

@media only screen and (max-width: 480px) {
}